body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    color: #333;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

.form-container, .results-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex: 1;
    max-width: 600px;
}

form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

form label {
    font-weight: bold;
}

form input, form button {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
}

form button {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #0056b3;
}

.number-input {
    display: flex;
    align-items: center;
    gap: 5px;
}

.number-input button {
    background-color: #007bff;
    border: none;
    color: white;
    cursor: pointer;
    padding: 0.5rem;
    margin: 0 0.5rem;
    font-size: 1rem;
}

.number-input button:hover {
    background-color: #0056b3;
}

.number-input input {
    width: 60px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    -moz-appearance: textfield; /* Nasconde le frecce interne su Firefox */
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#norma-data, #result {
    margin-top: 20px;
}

#norma-data h2, #result p {
    margin: 0 0 10px;
}

#norma-data p, #result p {
    line-height: 1.6;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
