<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Normativa Extraction App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <h1>Normativa Extraction App</h1>
    <div class="container">
        <div class="form-container">
            <form id="scrape-form">
                <label for="act_type">Tipo atto:</label>
                <input type="text" id="act_type" name="act_type" required>

                <label for="date">Data:</label>
                <input type="text" id="date" name="date">

                <label for="act_number">Numero atto:</label>
                <input type="text" id="act_number" name="act_number">

                <label for="article">Articolo:</label>
                <div class="number-input">
                    <button type="button" class="decrement"><i class="fas fa-minus"></i></button>
                    <input type="text" id="article" name="article" value="{{ request.form.article or 1 }}" pattern="\d+(\s[a-z]+)?">
                    <button type="button" class="increment"><i class="fas fa-plus"></i></button>
                </div>


                <label for="version">Versione:</label>
                <input type="text" id="version" name="version">

                <label for="version_date">Data versione atto:</label>
                <input type="text" id="version_date" name="version_date">

                <label for="comma">Comma:</label>
                <input type="text" id="comma" name="comma">

                <button type="submit">Estrai dati</button>
            </form>
        </div>
        
        <div class="results-container">
            <div id="loading" style="display: none;">
                <div class="spinner"></div>
                Caricamento...
            </div>
            <div id="norma-data"></div>
            <div id="result"></div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
